extends layout
 
block content
  .rside
    .formwrap.container-fluid
        if(txnhash==txndata && TRANSACTIONSTATUS =="200")
 
            table
                tr  
                    td(class='tdsuccess')
                      b SUCCESS TRANSACTION
            table
                tr  
                    td TRANSACTIONID
                    td :
                    td #{TRANSACTIONID}
                tr  
                    td APTRANSACTIONID
                    td :
                    td #{APTRANSACTIONID}
                tr  
                    td AMOUNT
                    td :
                    td #{AMOUNT}
                tr  
                    td MESSAGE
                    td :
                    td #{MESSAGE}
                tr  
                    td CUSTOMVAR
                    td :
                    td #{CUSTOMVAR}
        else
            table
                tr  
                    td(class='tdfail')
                      b FAILED TRANSACTION
            table
                tr  
                    td TRANSACTIONID
                    td :
                    td #{TRANSACTIONID}
                tr  
                    td APTRANSACTIONID
                    td :
                    td #{APTRANSACTIONID}
                tr  
                    td AMOUNT
                    td :
                    td #{AMOUNT}
                tr  
                    td MESSAGE
                    td :
                    td #{MESSAGE}
                tr  
                    td CUSTOMVAR
                    td :
                    td #{CUSTOMVAR}
                    

